:root {
   
    --navyColor: #1e4768;
    --lightBlue: #eaf2fa;
  
}



.title-styling {
    letter-spacing: 5px;
    font-size: 80px;
    font-weight: initial
}

.header-styling {
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: initial;
}

.appts-color {
    background-color: var(--navyColor);
}

.meds-color {
    background-color: var(--navyColor);

}

.comm-color {
    background-color: var(--navyColor);
}

.care-color {
    background-color: var(--navyColor);
}

.intro-img {
    max-height: 400px;
    border: 2px solid gainsboro;
    /*padding: 10px;*/
}


.navy {
    background-color: var(--navyColor);

}


.navy-btn {
    background-color: var(--navyColor);
    color: white;
    

}

.navy-btn:hover {
    color: white; 
    opacity: 0.90;
    transition: opacity 0.3s ease;
}

.navy-text {
    color: var(--navyColor);
}

.navy-highlights {
    background-color: var(--navyColor);
    color: white;
}

.navbar-nav {
    justify-content: center;
    display: flex;
    margin: auto;
  
}


/* SCROLL TO TOP BUTTON*/

#scroll-to-top-btn {
    height: 45px;
    position: fixed;
    bottom: 15px;
    right: 10px;
    display: none;
    color: var(--navyColor);
    background-color: var(--lightBlue);
    border: 1px solid var(--navyColor);
  }
  
  #scroll-to-top-btn:hover {
    cursor: pointer;
    color: var(--lightBlue);
    background-color: var(--navyColor);
  }